[build-system]
requires = [
    "setuptools>=66.1.0",
]
build-backend = "setuptools.build_meta"

[project]
name = "tsetmc"
authors = [
    { name = "5j9", email = "5j9@users.noreply.github.com" },
]
description = "a library to retrieve data from tsetmc.com website"
keywords = [
    "tsetmc",
    "client",
]
classifiers = [
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Programming Language :: Python :: 3.10",
]
requires-python = ">=3.10"
dynamic = [
    "version",
]
dependencies = [
    "jdatetime",
    "pandas >= 2.0.0",
    "numpy",
    "beautifulsoup4",
    "lxml",
    "aiohutils >= 0.9.2",
]
[project.optional-dependencies]
test = [
    "aiohutils[test] >= 0.9.2",
]

[project.license]
text = "GNU General Public License v3 (GPLv3)"

[project.readme]
file = "README.rst"
content-type = "text/x-rst"

[project.urls]
Homepage = "https://github.com/5j9/tsetmc"

[tool.setuptools]
zip-safe = false
include-package-data = false

[tool.setuptools.packages.find]
namespaces = false

[tool.setuptools.package-data]
tsetmc = [
    "dataset/dataset.csv",
]

[tool.setuptools.dynamic.version]
attr = "tsetmc.__version__"


[tool.isort]
profile = "black"
line_length = 79
combine_as_imports = true
